<async></async>
<section id="activity">
    <a href="#home" class="button back">
        <i class="fas fa-chevron-left"></i>
    </a>
    @for
    <div class="content">
        <div class="wrapper">
            <button class="button danger short round">Do not attend</button>
            <div class="info">
                <div>{{ data.time }}</div>
                <h1>{{ data.title }}</h1>
                <p>{{ data.information }}</p>
            </div>
            <div class="attendees">
                {{ data.attendees.<div class="attendee"><span>=!nickname!=</span><span>=!_id!=</span></div> }}
             </div>
            <div class="form_group">
                <input type="text" name="comment" placeholder="Comment" />
                <button class="button success">Add</button>
            </div>
        </div>
    </div>
    @endfor
</section>