<async></async>
<section id="activity">
    <a href="#home" class="button back">
        <i class="fas fa-chevron-left"></i>
    </a>
    <div class="wrapper">
        <div class="time ">{{ data.time }}</div>
        <h1>{{ data.title }}</h1>
        <h2>Information</h2>
        <p>{{ data.information }}</p>
        <h2>Attendees</h2>
        <div class="attendees">{{ array:span:data.attendees:email }}</div>
        <div class="comments">{{ array:div:data.comments:comment }}</div>
        <input type="text" name="comment" placeholder="Comment" />
        <button class="button success">Add</button>
    </div>
</section>