<section id="edit">

    <a href="#home" class="button back">
        <i class="fas fa-chevron-left"></i>
    </a>

    <div class="wrapper_small">
        
        <form>
            <input type="text" name="title" placeholder="title" />
            <input type="text" name="information" placeholder="information" />
            <input type="text" name="time" placeholder="time" />
            <input type="text" name="attendee" placeholder="add attendee" />
            <button class="button neutral">Add Attendee</button>
            <button class="button green" type="submit">Create</button>
            <div class="attendees">
                <h1>Attendees</h1>
            </div>
        </form>

    </div>

</section>