<section id="edit">

    <a href="#home" class="button back">
        <i class="fas fa-chevron-left"></i>
    </a>

    <div class="wrapper_small">
        
        <form>
            <input type="text" name="title" maxlength="20" placeholder="title" />
            <input type="text" name="information" maxlength="240" placeholder="information" />
            <input type="text" name="time" placeholder="time" />
            <input type="text" name="attendee" placeholder="add attendee" />
            <button class="button round short neutral"><i class="fas fa-plus-circle"></i></button>
            <div class="attendees">
                <h2>Attendees</h2>
            </div>
            <button class="button success" type="submit">Create</button>
        </form>

    </div>

</section>