<section id="edit">

    <a href="#home" class="button back">
        <i class="fas fa-chevron-left"></i>
    </a>

    <div class="wrapper_small">
        
        <form>
            <input type="text" placeholder="title" />
            <input type="text" placeholder="information" />
            <input type="text" placeholder="time" />
            <input type="text" name="attendee" placeholder="add attendee" />
            <button>Add Attendee</button>
        </form>
        <div class="attendees">Marre, Olle, Olle, Hejsan</div>

    </div>

</section>