<section id="login">

    <div class="wrapper_small">
        <div class="form_group">
            <input type="text" placeholder="USERNAME" />
            <input type="text" placeholder="PASSWORD" />
            <button><a href="#home">Login</a></button>
            <span>Not registered?</span>
        </div>
        <hr />
        <div class="social_media">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-google-plus-square"></i>
        </div>
    </div>

</section>