<section id="login">

    <div class="wrapper_small">

        <div class="form_group">
            <input data-type="both" type="email" name="email" placeholder="EMAIL" />
            <input data-type="both" type="password" name="password" placeholder="PASSWORD" />
            <input class="inactive" data-type="register" type="password" name="retype_password" placeholder="RETYPE PASSWORD" />
            <button data-type="login">Login</button>
            <button class="inactive" data-type="register">Register</button>
            <a data-type="login">Not Registered?</a>
            <a class="inactive" data-type="register">Already Registered?</a>
        </div>
        <hr />
        <div class="social_media">
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-google-plus-square"></i>
        </div>

    </div>

</section>