<section id="login">
    <div class="cols cols_two">
        <div class="col col_a">
            <div class="corner">
                Logo
            </div>
            <div class="wrapper_small">
                <h1>Socci</h1>
                <h2>Connect with your friends, attend each other activities!</h2>
                <div class="slider">
                    <!-- <img src="https://placeimg.com/640/480/any" alt="slider_01" /> -->
                </div>
            </div>
        </div>
        <div class="col col_b">
            <div class="content">
                <div class="corner">
                    <div data-type="login">Login</div>
                    <div data-type="register" class="inactive">Register</div>
                </div>
                <div class="wrapper_small">
                    <div class="form_group">
                        <input data-type="both" type="email" name="email" placeholder="EMAIL" />
                        <input data-type="both" type="password" name="password" placeholder="PASSWORD" />
                        <input class="inactive" data-type="register" type="password" name="retype_password" placeholder="RETYPE PASSWORD" />
                        <button class="button round short" data-type="login">Login</button>
                        <button class="inactive button round short" data-type="register">Register</button>
                        <a data-type="login">I'm not a member yet.</a>
                        <a class="inactive" data-type="register">Already a member?</a>
                    </div>
                    <!-- <div class="social_media">
                        <i class="fab fa-facebook-square"></i>
                        <i class="fab fa-google-plus-square"></i>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

</section>