<div id="hamburger">
    <div></div>
    <div></div>
    <div></div>
</div>
<nav>
    <h2><a href='#home'>Socci</a></h2>
    <div class="icons">
        <a href="#profile" class="item profile">
            Profile
            <i class="fas fa-user"></i>
        </a>
        <a href="#edit" class="item activity">
                Create activity
                <i class="fas fa-plus-circle"></i>
        </a>
        <a class="item logout">
            Logout
            <i class="fas fa-user-times"></i>
        </a>
    </div>
</nav> 