<section id="profile">

    <a href="#home" class="button back">
        <i class="fas fa-chevron-left"></i>
    </a>

    <div class="wrapper">
        <div class="cols cols_two">
            <div class="col col_a">
                <form>
                    <input type="text" name="nickname" placeholder="Nickname" />
                </form>
            </div>
            <div class="col col_b">
                <div>
                    <h2>Friends</h2>
                    <button class="button success">Add Friend</button>
                </div>
            </div>
        </div>
    </div>
    
</section>