<async></async>
<section id="profile">
    <a href="#home" class="button back">
        <i class="fas fa-chevron-left"></i>
    </a>
    <div class="wrapper_small">
        <form>
            <input type="text" name="nickname" maxlength="12" placeholder="Nickname" />
            <button class="button neutral short round">Change Name</button>
        </form>
        <div class="restricted">
            Dangerous Area
            <i class="fas fa-caret-down"></i>
        </div>
        <div>
            <button class="button danger short">Delete Account</button>
        </div>
        <div class="sidebar">
            <input type="text" name="user" placeholder="Name or email" />
            <button class="button success">Add Friend</button>
            <div class="friends">
                @for
                <p data-id="{{ data.id }}">{{ data.email }}<i class="fas fa-times"></i></p>
                @endfor
            </div>
        </div>
    </div>
</section>