<async></async>
<section id="profile">
    <div class="restricted_area bounce">
        <i class="fas fa-times close dark"></i>
        <h1 class="fe_pulse">DANGEROUS AREA<i class="fas fa-skull-crossbones"></i></h1>
        <button class="button danger dark short">Delete Account</button>
    </div>
    <a href="#home" class="button back">
        <i class="fas fa-chevron-left"></i>
    </a>
    <div class="wrapper_small">
        <form>
            <div class="form_group">
                <i class="fas fa-user-alt"></i>
                <input type="text" name="nickname" maxlength="12" placeholder="Nickname" />
            </div>
            <div class="form_group">
                <i class="fas fa-envelope"></i>
                <input type="email" name="email" placeholder="email@email.com" required />
            </div>
            <div class="form_group">
                <i class="fas fa-phone"></i>
                <input type="tel" name="phone" placeholder="00011122233" />
            </div>
        </form>
        <div class="restricted">
            Dangerous Area
            <i class="fas fa-caret-down"></i>
        </div>
        <div class="sidebar">
            <input type="text" name="user" placeholder="Name or email" />
            <button class="button success">Add Friend</button>
            <div class="friends">
                @for
                <p data-id="{{ data.id }}">{{ data.email }}<i class="fas fa-times"></i></p>
                @endfor
            </div>
        </div>
    </div>
</section>