/* RESETS */

body {
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
}

button, 
input {
    border: none;
    border-radius: 2px;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    outline: none;
}

.button {
    color: #FFFFFF;
    font-weight: 700;
}

.button.success {
    background-color: var(--sea-serpent);
}

.button.neutral {
    background-color: var(--dark-blue);
}

.button.danger {
    background-color: red;
}

.button.back {
    position: absolute;
    top: 30px;
    left: 30px;
}

.button.back i {
    color: #FFFFFF;
    font-size: 30px;
}

a {
    text-decoration: none;
}

section {
    min-height: calc(100vh - 160px);
    padding: 80px 0px;
}

hr {
    border: none;
    border-bottom: 1px dashed #FFFFFF;
    margin: 30px 0px;
}

input {
    box-sizing: border-box;
    padding: 20px 30px;
}

h1, h2, h3 {
    color: #FFFFFF;
    margin: 0;
}

/* COLORS */

main {
    --aquamarine: #6FFFE9;
    --sea-serpent: #5BC0BE;
    --independence: #3A506B;
    --yankees-blue: #1C2541;
    --dark-blue: #0B132B;
    --alert: #EB283F;
    --orange: #F34213;
    --google: #ea4335;
    --facebook: #3b5998;
}

/* GLOBALS */

.wrapper {
    width: 1024px;
}

.wrapper_small {
    width: 500px;
}

.wrapper,
.wrapper_small {
    margin: 0 auto;
    max-width: 90%;
}

.row {
    width: 100%;
}

.button {
    cursor: pointer;
}

.col {
    float: left;
}

/* Animations */

.out {
    opacity: 0;
}