.button {
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    font-size: 18px;
    outline: none;
    text-transform: uppercase;
    width: 100%;
}


.button {
    border-radius: 2px;
    color: #FFFFFF;
    cursor: pointer;
    height: 50px;
}

.button.success {
    background-color: var(--mint);
}

.button.neutral {
    background-color: var(--orangeish);
    color: #FFFFFF;
}

.button.danger {
    background-color: var(--redish);
}

.button.danger.dark { 
    background-color: #000000;
}

.button.yellow {
    background-color: var(--yellowish);
    color: #000000;
}

.button.back,
.close {
    color: #FFFFFF;
    cursor: pointer;
    font-size: 42px;
    position: absolute;
    top: 50px;
    left: 50px;
}

.close.dark {
    color: #000000;
}

.button.back i {
    color: #FFFFFF;
    font-size: 30px;
}

.button.short {
    min-width: 120px;
    height: 50px;
    line-height: 50px;
    padding: 0 30px;
    width: auto;
}

.button.round {
    border-radius: 50px;
}

@media screen and (max-width: 1000px) { 
    .button {
        font-size: 32px;
    }
    
    .button.short {
        min-width: 180px;
        height: 80px;
        line-height: 80px;
    }
}