input {
    background-color: transparent;
    border: none;
    color: #FFFFFF;
    font-size: 18px;
    outline: none;
    text-transform: uppercase;
    width: 100%;
}

input {
    box-sizing: border-box;
    border-bottom: 1px solid var(--greyish);
    margin-bottom: 20px;
    padding: 20px 30px;

}

input:focus {
    border-bottom: 1px solid #FFFFFF;
}

::placeholder {
    color: var(--greyish);
    opacity: 1;
}

:-ms-input-placeholder {
    color: var(--greyish);
}

::-ms-input-placeholder {
    color: var(--greyish);
}