nav {
    height: 80px;
    line-height: 80px;
    padding: 0px 80px;
}

nav .button {
    font-size: 15px;
    font-weight: 700;
    padding: 0 !important;
}

nav a {
    color: #FFFFFF;
}

nav h2 {
    float: left;
}

nav .icons {
    float: right;
}

nav .icons a {
    margin-right: 30px;
}

nav .icons a:nth-child(2) {
    border-bottom: 1px solid var(--mint);
    margin-right: 50px;
    padding: 0 2px 2px 2px;
}

nav .icons a i {
    font-size: 20px;
}