/* Hamburger */
#hamburger {
    cursor: pointer;
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 6;
}

#hamburger div {
    background-color: #FFFFFF;
    height: 5px;
    margin: 6px 0;
    opacity: 1;
    transform: none;
    transition: transform 300ms ease-out;
    width: 35px;
}

#hamburger.active div:first-child {
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

#hamburger.active div:nth-child(2) {
    opacity: 0;
}

#hamburger.active div:last-child {
    transform: rotate(45deg) translate(-8px, -8px);
}

/* Nav */
nav {
    background-color: var(--orangeish);
    box-sizing: border-box;
    -webkit-box-shadow: -2px 3px 19px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 3px 19px 3px rgba(0,0,0,0.75);
    box-shadow: -2px 3px 19px 3px rgba(0,0,0,0.75);
    height: 130px;
    margin-top: -140px;
    line-height: 130px;
    padding: 0px 140px 0px 80px;
    position: fixed;
    transition: 300ms margin ease-in-out;
    width: 100%;
    z-index: 5;
}

nav.active {
    margin-top: 0;
}

nav .item {
    cursor: pointer;
    float: left;
    font-size: 20px;
    text-align: center;
    width: 250px;
}

nav .item i {
    margin-left: 10px;
}

nav .item:first-child {
    background-color: #e86721;
}

nav .item:nth-child(2) {
    background-color: #e87121;
}

nav .item:nth-child(3) {
    background-color: #e87e21;
}

nav h2 {
    float: left;
}

nav .icons {
    float: right;
}