.slider {
    height: 410px;
    left: 0;
    position: relative;
    transition: left 200ms ease-out, opacity 300ms ease-out;
}

.slider.dragging {
    transition: none;
}

.counter {
    font-family: 'Abril Fatface', cursive;
    font-size: 52px;
    font-weight: 700;
    text-align: center;
}

.slider .button_group {
    bottom: 30px;
    position: absolute;
    width: 700px;
}

.slider .item_outer {
    background-color: var(--greyish);
    position: absolute;
    width: 100vw;
}

.slider .item_inner {
    border-radius: 3px;
    height: 350px;
    margin: 30px auto;
    position: relative;
    width: 700px;
}

.slider .item_inner .button i {
    font-size: 20px;
}

.slider .item_inner .button.neutral {
    float: right;
}

.slider .item_inner .button.success {
    background-color: var(--greenish);
    cursor: initial;
}

.slider .item_inner .button.success.active {
    background-color: var(--mint);
    opacity: 1;
    cursor: pointer;
}

.slider .item_inner h2 {
    display: inline-block;
}

.slider .item_inner .time {
    background-color: var(--mint);
    border-radius: 3px;
    -webkit-box-shadow: -2px 3px 19px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 3px 19px 3px rgba(0,0,0,0.75);
    box-shadow: -2px 3px 19px 3px rgba(0,0,0,0.75);
    font-size: 32px;
    padding: 5px 15px;
    position: absolute;
    right: -15px;
    top: -60px;
    transition: opacity 450ms ease-out, transform 300ms ease-out;
}

.slider .item_inner .time.dragging {
    transition: opacity 450ms ease-out;
}

.slider .item_inner .time i {
    font-size: 32px;
    margin-right: 10px;
}

.navigators {
    position: fixed;
    width: 100vw;
    z-index: 2;
}

.navigator {
    cursor: pointer;
    display: block;
    font-size: 42px;
    height: 410px;
    position: absolute;
    width: 50px;
}

.navigator.inactive {
    display: none;
}

.navigator i {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}

.navigator.prev {
    left: 50px;
}

.navigator.next {
    right: 50px;
    text-align: center;
}

.slider  .attendees {
    padding: 30px 0;
}

.slider  .attendees .attendee {
    border-radius: 3px;
    display: inline-block;
    font-style: italic;
    padding: 4px 12px;
}

.slider  .attendees .attendee:first-child {
    padding-left: 0;
}