section#activity {
    background-color: var(--dark);
}

section#activity h1 {
    font-size: 50px;
    margin: 0;
}

section#activity h1,
section#activity div,
section#activity p {
    transition: opacity 150ms ease-out;
}

section#activity input[name="comment"] {
    width: 80%;
}

section#activity .button {
    box-sizing: border-box;
    float: right;
    margin-left: 10px;
    padding: 20px 30px;
    width: calc(20% - 10px);
}
