section#activity {
    position: relative;
}

section#activity .wrapper {
    padding: 50px 0;
}

section#activity .form_group {
    bottom: 50px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 1024px;
}

section#activity .time {
    background-color: var(--mint);
    border-radius: 3px;
    font-size: 32px;
    float: right;
    padding: 5px 15px;
}

section#activity .time i {
    font-size: 32px;
    margin-right: 10px;
}