section#home {
    min-height: calc(100vh - 240px);
    overflow: hidden;
}

section#home .activities {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px 0;
}

section#home .activities .activity {
    background-color: rgba(0,0,0,0.65);
    border-radius: 3px;
    cursor: pointer;
    margin: 0 10px 10px 0;
    padding: 2px 30px;
    transition: 300ms opacity ease-out, 300ms background-color ease-out;
}

section#home .activities .activity.active {
    background-color: rgba(0,0,0,0);
}

section#home .activities .activity h4 {
    pointer-events: none;
}