section#home .activity {
    background-color: var(--dark);
    border-radius: 2px;
    box-sizing: border-box;
    -webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    float: left;
    margin-bottom: 30px;
    padding: 30px;
    transition: opacity 300ms ease-out;
    width: calc(50% - 15px);
}

section#home .activity:nth-child(odd) {
    margin-right: 30px;
}

section#home .button_group {
    bottom: 0;
    position: absolute;
}

section#home .activity.attending {
    background-color: pink;
}

section#home .activity .attendees {
    padding: 30px 0;
}

section#home .activity .attendees span {
    color: #FFFFFF;
    float: none;
    margin-right: 10px;
}

section#home .activity .attendees span:last-child {
    margin-right: 0;
}

section#home .activity button {
    padding: 10px 20px;
}

section#home .activity button.danger {
    float: right;
}

section#home .activity h2 {
    display: inline-block;
}

section#home .activity span {
    color: var(--yellowish);
    float: right;
}

section#home a {
    display: block;
}

section#home a[href="#edit"] {
    background-color: var(--greenish);
    border-radius: 2px;
    bottom: 80px;
    -webkit-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
    color: #FFFFFF;
    display: block;
    font-size: 30px;
    height: 80px;
    line-height: 80px;
    left: 0;
    margin: 0 auto;
    position: fixed;
    right: 0;
    text-align: center;
    width: 1024px;
}

@media screen and (max-width: 1024px) {

    section#home a[href="#edit"] {
        border-radius: 50%;
        display: block;
        height: 150px;
        line-height: 150px;
        width: 150px;
    }

 }