section#home {
    background-color: var(--yankees-blue);
}

section#home .row {
    background-color: var(--sea-serpent);
    box-sizing: border-box;
    margin-bottom: 30px;
    padding: 30px;
}

section#home .row :last-child {
    margin-bottom: 0;
}

section#home a {
    background-color: green;
    bottom: 0;
    color: #FFFFFF;
    display: block;
    height: 100px;
    line-height: 100px;
    position: fixed;
    text-align: center;
    width: 100%;
}