section#login {
    padding: 0;
}

section#login .slider {
    background-image: url(../../img/city_br2.png);
    background-size: cover;
    margin-left: -250px;
    width: 800px;
    height: 500px;
}


section#login .col {
    box-sizing: border-box;
    height: 100vh;
    position: relative;
}

section#login .wrapper_small {
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

section#login .col_a .wrapper_small h2 {
    font-weight: 400;
    margin: 10px 0 20px 0;
}

section#login .col .corner { 
    position: absolute;
    top: 30px;
}

section#login .col_a .corner {
    left: 30px;
}

section#login .col_b .corner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50px;
    right: 30px;
    width: 200px;
}

section#login .col_b .corner div {
    background-color: #363c53;
    display: inline-block;
    height: 100%;
    opacity: 0.65;
    width: 100px;
}

section#login .col_b .corner div:not(.inactive) {
    background-color: var(--mint);
    box-shadow: -1px 4px 53px -4px rgba(0,0,0,1);
    margin-top: -3px;
    opacity: 1;
    z-index: 2;
}

section#login .col_b .corner div:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

section#login .col_b .corner div:nth-child(2) {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

section#login .col_a {
    background: var(--mint);
    background: linear-gradient(180deg, var(--mint) 0%, var(--mint) 44%, rgba(34,145,139,1) 100%);
}

section#login .col_b { 
    background: var(--dark);
    background: linear-gradient(180deg, var(--dark) 0%, var(--dark) 44%, rgba(25,29,46,1) 100%);
    box-shadow: -4px 0px 12px -4px rgba(0,0,0,0.75);
    transition: margin 300ms ease-out;
}

section#login .form_group input {
    background-color: transparent;
    border-bottom: 1px solid var(--greyish);
    margin-bottom: 20px;
}

section#login .form_group button {
    background-color: var(--mint);
    box-shadow: -1px 3px 28px 0px rgba(0,0,0,0.41);
    margin: 30px 30px 0 0;
    transition: box-shadow 300ms;
}

section#login .form_group a {
    border-bottom: 1px solid var(--mint);
    color: var(--greyish);
    padding: 0 2px 2px 2px;
}

section#login .form_group button:hover {
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
}

section#login .inactive {
    display: none;
}

/* section#login .social_media {
    margin-top: 50px;
    text-align: center;
}

section#login .social_media i {
    cursor: pointer;
    color: #FFFFFF;
    font-size: 50px;
}

section#login .social_media i:first-child {
    margin-right: 30px;
} */