section#login {
    background-color: var(--yankees-blue);
}

.form_group input,
.form_group button {
    border-radius: 2px;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    width: 100%;
}

.form_group input {
    background-color: var(--dark-blue);
    color: #FFFFFF;
}

.form_group button {
    background-color: var(--aquamarine);
}

.form_group span {
    color: #FFFFFF;
    font-size: 16px;
}

section#login .wrapper_small {
    background-color: rgba(58, 80, 107, 0.2);
    border-radius: 10px;
    box-shadow: -1px 2px 5px -2px rgba(0,0,0,0.75);
    left: 0;
    padding: 50px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-box-shadow: -1px 2px 5px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 5px -2px rgba(0,0,0,0.75);
}

section#login .inactive {
    display: none;
}

section#login .social_media {
    text-align: center;
}

section#login .social_media i {
    cursor: pointer;
    color: var(--sea-serpent);
    font-size: 50px;
}

section#login .social_media i:first-child {
    margin-right: 30px;
    /* color: #3b5998 */
}

/* section#login .social_media i:last-child {
    color: #ea4335;
} */