section#profile {
    background-color: var(--dark);
}

section#profile input {
    width: 100%;
}

section#profile .col_a {
    margin-right: 30px;
    width: calc(60% - 30px);
}

section#profile .col_b {
    width: 40%;
}

section#profile .col_b button {
    width: 100%;
}