section#profile .sidebar {
    background-color: #39436b;
    box-shadow: -4px 0px 12px -4px rgba(0,0,0,0.75);
    height: 100vh;
    right: 0;
    top: 0;
    padding: 80px;
    position: fixed;
}

section#profile .restricted_area {
    background-color: var(--redish);
    box-sizing: border-box;
    color: #000000;
    height: 100vh;
    padding: 50px;
    position: fixed;
    top: -100vh;
    transition: 600ms top cubic-bezier(.16,.03,.15,1.16);
    width: 100%;
    z-index: 3;
}

section#profile .restricted_area.active {
    top: 0;
}

section#profile .restricted_area h1 {
    color: #000000;
    text-align: center;
}

section#profile .restricted_area h1 i {
    color: #000000;
    font-size: 50px;
    margin-left: 20px;
}

section#profile .restricted_area .button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section#profile .restricted {
    border-bottom: 1px solid var(--redish);
    box-sizing: border-box;
    color: var(--redish);
    font-size: 24px;
    text-align: center;
    margin-top: 80px;
    padding: 5px;
    position: relative;
    width: 100%;
    z-index: 2;
}

section#profile .restricted i {
    font-size: 32px;
    left: 50%;
    bottom: -30px;
    transform: translateX(-50%);
    position: absolute;
}

section#profile .restricted.active i {
    transform: rotate(180deg) translateX(50%);
}

section#profile input {
    width: 100%;
}

section#profile .col_a {
    margin-right: 30px;
    width: calc(60% - 30px);
}

section#profile .col_b {
    width: 40%;
}

section#profile .friends {
    margin: 80px 0;
}

section#profile p {
    display: flex;
    font-size: 22px;
    justify-content: space-between;
    align-items: center;
}

section#profile .friends p i {
    color: var(--redish);
    cursor: pointer;
    margin-left: 20px;
}