section#profile input {
    width: 100%;
}

section#profile .col_a {
    margin-right: 30px;
    width: calc(60% - 30px);
}

section#profile .col_b {
    width: 40%;
}

section#profile .friends {
    display: inline-block;
    margin: 80px 0;
}

section#profile .friends i {
    color: var(--redish);
    cursor: pointer;
    margin-left: 20px;
}